<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Talents</title>
  <link rel="shortcut icon" href="/static/fav.svg" type="image/x-icon">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6 align-self-center">
        <form th:action="'/talents/' + ${talent_id} + '/projects/' + ${project.id}" method="post" th:object="${project}">
          <div class="mb-3">
            <label for="Title" class="form-label">Название проекта</label>
            <input type="text" class="form-control" id="Title" name="title" th:field="*{title}">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('title')}" th:text="${err}">Validation error</small>
          </div>
          <div class="mb-3">
            <label for="Description" class="form-label">Описание проекта</label>
            <textarea type="text" class="form-control" id="Description" name="description" th:field="*{description}"  rows="3"></textarea>
            <small class="form-text text-danger" th:each="err : ${#fields.errors('description')}" th:text="${err}">Validation error</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</main>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>