<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Talents</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="/static/app.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6 align-self-center">
        <form th:action="'/talents/update/' + ${talent_id}" method="post" th:object="${user}">
          <div class="mb-3">
            <label for="FirstName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="FirstName" name="firstName" th:field="*{firstName}">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Validation error</small>
          </div>
          <div class="mb-3">
            <label for="LastName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="LastName" name="lastName" th:field="*{lastName}">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Validation error</small>
          </div>
          <div class="mb-3">
            <label for="About" class="form-label">О себе</label>
            <textarea class="form-control" id="About" name="about" th:field="*{about}" rows="3"></textarea>
            <small class="form-text text-danger" th:each="err : ${#fields.errors('about')}" th:text="${err}">Validation error</small>
          </div>
          <div class="mb-3">
            <label for="MobilePhone" class="form-label">Мобильный телефон</label>

              <input type="tel" class="form-control" id="MobilePhone" name="mobilePhone" th:field="*{mobilePhone}" pattern="8-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}">

            <small class="form-text text-danger" th:each="err : ${#fields.errors('mobilePhone')}" th:text="${err}">Validation error</small>
          </div>
          <button onclick="form_check()" type="submit" class="btn btn-primary">Обновить</button>
        </form>
      </div>
    </div>
  </div>
</main>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>