<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talents</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-9">
                    <div class="card mb-3" style="max-width: 540px;" th:each="talent : ${talents}">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img th:src="'/img/' + ${talent.photoName != null ? talent.photoName : 'Аватар.jpg'}" class="img-fluid rounded-start" alt="Фото профиля">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 style="display: inline-block;" class="card-title" th:text="${talent.firstName}"></h5>
                                    <h5 style="display: inline-block;" class="card-title" th:text="${talent.lastName}"></h5>
                                    <p class="card-text" th:text="${talent.about}">О себе</p>
                                    <ul class="small list-group">
                                        <li class="list-group-item" th:each="p : ${talent.professionIds}">
                                            <p th:each="profession : ${professions}" th:if="${p == profession.id}" th:text="${profession.title}"></p>
                                        </li>
                                    </ul>
                                    <a class="btn" th:href="@{'/talents/' + ${talent.id}}">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>